.danger{
    color: red;
    font-weight: bold;
}



.main__form{
width:500px;
margin: 10px auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

input[type=text]{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    font-family: inherit;
}
