.danger{
    color: red;
    font-weight: bold;
}



.main__form{
width:500px;
margin: 10px auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

input[type=text]{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    font-family: inherit;
}

input[type=text]:focus{
    background-color: #ffd969;
    border-color:#000;
}

input[type=password]{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    font-family: inherit;
}

input[type=password]:focus{
    background-color: #ffd969;
    border-color:#000;
}

input[type=text]:hover{
    border-color: lightgrey;
}

input[type=password]:hover{
    border-color: lightgrey;
}

button{
    padding: 10px;
    border:none;
    width:100%;
    background-color:#3F51B5;
    color:white;
    font-weight: 600;

}